body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
text-align:center;
}

#menu{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#menu button{
padding:15px 30px;
font-size:20px;
cursor:pointer;
}

#game{
display:none;
padding-top:20px;
}

.players{
display:flex;
justify-content:center;
gap:60px;
align-items:center;
}

.avatar{
width:70px;
height:70px;
border-radius:50%;
border:3px solid white;
}

.healthBar{
width:200px;
height:18px;
background:#333;
border-radius:10px;
overflow:hidden;
margin:auto;
}

.health{
height:100%;
background:#22c55e;
transition:0.4s;
}

.board{
width:320px;
margin:30px auto;
display:grid;
grid-template-columns:repeat(3,100px);
gap:10px;
}

.cell{
width:100px;
height:100px;
background:#1e293b;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
border-radius:10px;
}

.cell:hover{
background:#334155;
}

.cell.win{
background:#22c55e;
}